

# ignore the database config file, so we don't accidently check in those credentials.
./config/database.php

# ignore the temp directory (after the first checkin)
/tmp/*

# ignore ._ files, which seem to come from OS X or textmate doing auto-save junk.
._*