<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>backchan.nl &mdash; thin</title>

	<script src="/static/js/lib/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="/static/js/lib/underscore-min.js" type="text/javascript"></script>
	<script src="/static/js/lib/backbone-min.js" type="text/javascript"></script>
	<script src="/static/js/lib/jquery.timeago.js" type="text/javascript"></script>
	
	<script src="/socket.io/socket.io.js"></script>
	
	<script src="../static/js/model.js"></script>
	<script src="../static/js/client.js"></script>
	<script src="../static/js/views.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		/* Deal with IE not having console.log */
	    if (typeof console === "undefined" || typeof console.log === "undefined") {
	     console = {};
	     console.log = function() {};
	   }
		
		var bar;
		var conn;
		$(document).ready(function() {
			// TODO need to make a loading screen pop up
			// when we start up, make a new BackchannlBar and attach it to
			// the DOM.
			
			// make the client ConnectionManager and connect. Auto name
			// and affiliation for now.
			conn = new client.ConnectionManager({"force-new-connect":false});
			
			bar = new views.BackchannlBarView(conn);
			$("body").append(bar.render().el);
			
			conn.connect("<%=host%>", <%=port%>, {"auto-identify":true, "auto-join":true});

			
		});
		

		
	</script>
	
	<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen"  charset="utf-8">
	
</head>
<body id="index" onload="">

</body>
</html>