<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>welcome to backchan.nl &mdash; thin</title>
	
	<script src="/static/js/lib/jquery-1.6.2.min.js" type="text/javascript"></script>
	
	<script type="text/javascript" charset="utf-8">
		
		$(document).ready(function() {
			
			$(".button").click(function() {
				$(this).removeClass("pressed");
				
				// Make the new window!.
				
				var optionsString = "left=0px,top="+(screen.height-180)+",resizable=no,menubar=no,scrollbars=no,toolbar=no,location=no,height=180,width=" + screen.width;
				
				window.open("/app", "backchannl &mdash; thin", optionsString);
			})

			
		});
		
	</script>
	
	<link rel="stylesheet" href="/static/css/splash.css" type="text/css" media="screen"  charset="utf-8">
	
</head>
<body>

<div id="container">
	<h1>backchan.nl &mdash; thin</h1>
	<div><p>This system is designed to help people more effectively ask and answer questions during conference calls, in a thin and unobtrustive interface. It will sit at the bottom of your screen and keep you aware of new questions other people on the call have, and let you vote on which questions you think are most important.</p>
	<p>backchan.nl &mdash; thin is designed by <a href="http://web.media.mit.edu/~dharry/">Drew Harry</a> at the <a href="http://mit.edu">MIT</a> <a href="http://media.mit.edu">Media Lab</a>.</p></div>
	<div class="button">Join the backchan.nl</div>
</div>


</body>
</html>