<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>backchan.nl &mdash; thin</title>

	<script src="/static/js/jquery-1.6.2.min.js" type="text/javascript"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<script type="text/javascript" charset="utf-8">
		var socket = io.connect("http://<% server %>:<%= port %>");
	
		$(document).ready(function() {
			console.log("Document is ready!");

			if("name" in localStorage && "affiliation" in localStorage) {
				socket.emit("identify", {
					"name":localStorage["name"],
					"affiliation":localStorage["affiliation"]});
				$("#identify").hide();
			} else {
				$("#dashboard").hide();
			}

			
			
			$("#identify form").submit(function(event) {
				// Send a message to the server.
				
				var name = $("#name").val();
				var affiliation = $("#affiliation").val();
				
				socket.emit("identify", {
					"name":name,
					"affiliation":affiliation});
					
					localStorage["name"] = name;
					localStorage["affiliation"] = affiliation;
					
				event.preventDefault();
			});
			
			$("#toggle-post").click(function() {
				
				// Decide what our current state is.
				var postContainerEl = $("#post-container");

				if(parseInt(postContainerEl.css("top")) < 0) {
					// Animate to expose it.
					postContainerEl.animate({top:0});
				} else {
					// Animate to hide it.
					postContainerEl.animate({top:-131});
				}
			});
			
		});
		
		socket.on('connect', function(data) {
			console.log("Connected to server.");
		});
		
		socket.on('identify', function(data) {
			$("#identity").text(data["name"] + " / " + data["affiliation"]);
			$("#presence").text("1 person connected");
			
			
			// When the server ACKS our identify operation, hide that pane
			// and show the main one.
			$("#identify").hide();
			$("#dashboard").show();
			
		});
	</script>
	
	<link rel="stylesheet" href="/static/css/base.css" type="text/css" media="screen"  charset="utf-8">
	
</head>
<body id="index" onload="">
<div id="container">

<div id="identify">
	<h1>Welcome to backchan.nl!</h1>
	<form method="get" accept-charset="utf-8">
	<table border="0">
		<tr><td>Name</td><td><input type="text" name="name" value="" id="name"></tr>
		<tr><td>Affiliation</td><td><input type="text" name="affiliation" value="" id="affiliation"></td></tr>
		<tr><td></td><td><input type="submit" name="set_identity" value="login" id="set_identity"<></td></tr>
	</table>
	</form>
</div>


<div id="dashboard">
<div id="hot">
<h1>hot</h1>
</div>

<div id="new">
<h1>new</h1>


</div>

<br class="clear">

<div id="footer">
<div id="identity">
</div>

<div id="show-posts" class="clickable">
show all posts
</div>

<div id="presence">
</div>
</div>
<br class="clear">
</div>


</div>

<div id="post-container">
<div id="post">
	<h1>Submit a post</h1>
	<textarea id="post-text">
	</textarea>
	<input type="button" name="post" value="post" id="submit-post">
</div>
<div id="toggle-post" class="clickable">
post a thought
</div>
</div>


</body>
</html>