/* Define colors */
/* define sizes */
/* define global mixins */
body {
  background-color: black;
  font-family: Helvetica, sans-serif;
  overflow-y: hidden;
  margin: 0px;
}

#bar {
  background-color: #444444;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  z-index: 1000;
  padding-top: 5px;
  padding-bottom: 5px;
}
#bar > div {
  float: left;
}

#chat {
  width: 300px;
  margin-left: 310px;
  height: 40px;
}
#chat #chat-input {
  width: 290px;
}
#chat .chats {
  position: fixed;
  bottom: 51px;
  width: 300px;
}
#chat .chats .message {
  color: #CCC;
  text-shadow: 1px 1px 0px #111;
  width: 100%;
  float: left;
}
#chat .chats .message .affiliation {
  display: none;
}

.posts-list {
  width: 300px;
}
.posts-list .container {
  background-color: #444444;
  position: fixed;
  top: 0px;
  height: 100%;
  width: 290px;
  padding: 5px;
}
.posts-list .container textarea {
  width: 285px;
  height: 1em;
  margin-bottom: 5px;
}
.posts-list .container textarea.expanded {
  height: 4em;
}
.posts-list .container h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.posts-list .container .posts {
  background-color: #ddd;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.post {
  background-color: #DDEFC6;
  margin: 5px;
}
.post .contents {
  padding: 5px;
}
.post .contents .attribution {
  font-size: 0.8em;
  color: #444;
}
.post .footer {
  background-color: #8CC63F;
  color: white;
  font-weight: bold;
}
.post .footer > div {
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.post .footer > div:hover {
  background-color: #A5BC83;
}
.post .footer > div:active {
  background-color: #A6AF98;
}
.post .footer .vote {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
}
.post .footer .flag, .post .footer .comments {
  float: right;
  padding-right: 5px;
  margin-left: 5px;
}
.post .footer img {
  height: 20px;
}

br.clear {
  clear: both;
}
