/* Define colors */
/* define sizes */
/* define global mixins */
body {
  font-family: Helvetica, sans-serif;
  margin: 0px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 1002px;
  height: 150px;
}

#identify {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
#identify h1 {
  font-size: 1.5em;
}
#identify table tr:first-child {
  text-align: right;
}
#identify input[type="text"] {
  width: 175px;
}

#dashboard {
  width: 100%;
  height: 100%;
}
#dashboard > div h1 {
  background-color: black;
  color: white;
  width: 65px;
  text-align: center;
  margin-top: 0px;
}

#hot, #new {
  float: left;
  height: 130px;
}

#hot {
  width: 501px;
  border-right: 1px solid #ccc;
}
#hot h1 {
  float: left;
}

#new {
  width: 500px;
}
#new h1 {
  float: right;
}

#footer {
  background-color: black;
  text-align: center;
  color: white;
  height: 20px;
  font-size: 0.8em;
}

#identity, #presence {
  padding: 4px;
}

#identity {
  float: left;
  text-align: left;
}

#presence {
  float: right;
  text-align: right;
}

#show-posts {
  position: absolute;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  font-size: 1.3em;
  cursor: pointer;
}

#post-container {
  position: absolute;
  top: -131px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  z-index: 2;
}

#post {
  background-color: white;
  border: 1px solid black;
  height: 130px;
}

#toggle-post {
  position: relative;
  top: 0px;
  left: 50%;
  height: 20px;
  width: 150px;
  margin-left: -75px;
  text-align: center;
  border: 1px solid black;
  border-top: none;
  background-color: #ddd;
  z-index: 2;
  cursor: pointer;
}

.clear {
  clear: both;
}
