/* Define colors */
/* define sizes */
/* define global mixins */
body {
  font-family: Helvetica, sans-serif;
  margin: 0px;
  color: black;
}

#container {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  width: 1002px;
  height: 150px;
  background-color: white;
}

#identify {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
#identify h1 {
  font-size: 1.5em;
}
#identify table tr:first-child {
  text-align: right;
}
#identify input[type="text"] {
  width: 175px;
}

#dashboard {
  width: 100%;
  height: 100%;
}
#dashboard > div h1 {
  background-color: black;
  color: white;
  width: 50px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
}

#hot, #new {
  float: left;
  height: 130px;
}
#hot .post, #new .post {
  margin-top: 25px;
}

.empty-notice {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  color: #aaaaaa;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

#hot {
  width: 501px;
  border-right: 1px solid #ccc;
}
#hot h1 {
  float: left;
}

#new {
  width: 500px;
}
#new h1 {
  float: right;
}
#new .num-more {
  background-color: black;
  color: white;
  float: left;
  text-align: center;
  width: 100px;
  margin-left: 200px;
}

#all {
  position: absolute;
  bottom: 306px;
  margin-left: -1px;
  width: 1002px;
  overflow-y: scroll;
  /* space for 8 posts on screen at a time, with room for padding. */
  height: 440px;
  z-index: -1;
  border: 1px solid black;
}
#all .post {
  float: left;
  margin-right: 0px;
}

#footer {
  background-color: black;
  text-align: center;
  color: white;
  height: 20px;
  font-size: 0.8em;
}

#identity, #presence {
  padding: 4px;
}

#identity {
  float: left;
  text-align: left;
}

#presence {
  float: right;
  text-align: right;
}

#show-posts {
  position: absolute;
  left: 50%;
  width: 150px;
  margin-left: -75px;
  font-size: 1.3em;
  cursor: pointer;
}

#post-container {
  position: absolute;
  top: -131px;
  left: 50%;
  margin-left: -250px;
  width: 500px;
  z-index: 2;
}

#post {
  background-color: white;
  border: 1px solid black;
  height: 130px;
}

#toggle-post {
  position: relative;
  top: 0px;
  left: 50%;
  height: 20px;
  width: 150px;
  margin-left: -75px;
  text-align: center;
  border: 1px solid black;
  border-top: none;
  background-color: #ddd;
  z-index: 2;
  cursor: pointer;
}

.post {
  width: 480px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  border: 1px solid black;
}
.post .button-container {
  float: left;
  /*        height: 100%;*/
  height: 110px;
  padding: 10px 2px 2px 2px;
  margin-right: 5px;
  text-align: center;
}
.post .button-container .vote-button {
  cursor: pointer;
  border: 1px solid black;
  width: 28px;
  height: 25px;
  font-size: 16px;
  padding-top: 5px;
  padding-left: 2px;
  margin: 10px auto 10px auto;
}
.post .button-container .dismiss-button {
  cursor: pointer;
  font-size: 12px;
  border: 1px solid black;
}
.post .text {
  height: 75px;
  overflow: hidden;
  width: 420px;
}
.post .byline, .post .timestamp {
  color: #666666;
  font-style: italic;
  font-size: 12px;
}
.post .byline {
  float: left;
  margin-left: 20px;
}
.post .byline:before {
  content: "from ";
}
.post .timestamp {
  float: right;
  margin-right: 20px;
}
.post .timestamp:before {
  content: "posted ";
}

.clear {
  clear: both;
}
