/* Define colors */
/* define sizes */
/* define global mixins */
body {
  font-family: Helvetica, sans-serif;
  color: #eee;
  background-color: #161618;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #242429), color-stop(100%, #161618));
  background-image: -webkit-linear-gradient(#242429, #161618);
  background-image: -moz-linear-gradient(#242429, #161618);
  background-image: -o-linear-gradient(#242429, #161618);
  background-image: -ms-linear-gradient(#242429, #161618);
  background-image: linear-gradient(#242429, #161618);
  /*    -pie-background: linear-gradient(#242429, #161618);*/
  /*    background-repeat: no-repeat;*/
  /*    background-color: #161618;*/
  margin: 0px;
  behavior: url(/static/css/PIE.htc);
}

#container {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}
#container h1 {
  margin-bottom: 2px;
}
#container > div {
  -moz-box-shadow: inset 1px 1px 2px 0 black;
  -webkit-box-shadow: inset 1px 1px 2px 0 black;
  -o-box-shadow: inset 1px 1px 2px 0 black;
  box-shadow: inset 1px 1px 2px 0 black;
  background-color: #eee;
  color: #161618;
  padding: 10px;
  border: 1px solid black;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  behavior: url(/static/css/PIE.htc);
}
#container > div p {
  margin-top: 0px;
}
#container > div > p:last-child {
  margin-bottom: 0px;
}
#container .button {
  margin: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: 1px solid #aaa;
  color: #eee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #575757), color-stop(100%, #171717));
  background-image: -webkit-linear-gradient(#575757, #171717);
  background-image: -moz-linear-gradient(#575757, #171717);
  background-image: -o-linear-gradient(#575757, #171717);
  background-image: -ms-linear-gradient(#575757, #171717);
  background-image: linear-gradient(#575757, #171717);
  -pie-background: linear-gradient(#575757, #171717);
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
  behavior: url(/static/css/PIE.htc);
}
#container .button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #171717), color-stop(100%, #575757));
  background-image: -webkit-linear-gradient(#171717, #575757);
  background-image: -moz-linear-gradient(#171717, #575757);
  background-image: -o-linear-gradient(#171717, #575757);
  background-image: -ms-linear-gradient(#171717, #575757);
  background-image: linear-gradient(#171717, #575757);
  -pie-background: linear-gradient(#171717, #575757);
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
  behavior: url(/static/css/PIE.htc);
}
