@import "compass/css3";

/* Define colors */

$background: #161618;
$background-light: #242429;
$foreground: #eee;

$text-color: #161618;
$light-text-color: #aaa;

/* define sizes */
$total-width: 1002px;
$total-height: 150px;

$footer-height: 20px;
$body-height: $total-height - $footer-height;

$header-height: 20px;

$dialog-width: 300px;

$post-height: 95px;

/* define global mixins */

@mixin user-select($select) {
  $select: unquote($select);
  @include experimental(user-select, $select,
    -moz, -webkit, not -o, not -ms, -khtml, official
  );
}

@mixin clickable {
	cursor: pointer;
	
	@include user-select(none);
}

body {
	font-family: Helvetica, sans-serif;
	margin: 0px;
	color: $text-color;
	
	background-color: $background;
	
    overflow-y: hidden;
	
}

#container {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid $background;
	
	width: $total-width;
	height: $total-height;
	
	background-color: white;
}

#identify {
	margin-left: auto;
	margin-right: auto;
	width: $dialog-width;
	
	h1 {
    	font-size: 1.5em;
    }
    
    table tr:first-child {
    	text-align: right;
    }
    
    input[type="text"] {
    	width: 175px;
    }
}


#dashboard {
	width: 100%;
	height: 100%;
	
	& > div h1 {
    	background-color: $background;
    	color: $foreground;
    	width: 50px;
    	text-align: center;

    	margin-top: 0px;
    	margin-bottom: 0px;
    	
    	font-size: $header-height;
    }
}

#hot, #new {
	float: left;
	height: $body-height;
	
	.post {
	    margin-top: 28px;
    }
}


.empty-notice {
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    
    color: $light-text-color;
    
    width: 100%;
    text-align: center;
    
    margin-top: 50px;
}

#hot {
	width: $total-width/2;
	border-right: 1px solid #ccc;

	background-color: #F3E5E5;
	
	h1 {
    	float: left;
    	
    	@include border-bottom-right-radius(5px);
    }
    
    .dismiss-button {
        display: none;
    }
}

#new {
    $new-width: $total-width/2 - 1;
	width: $new-width;

    background-color: #EBF6EB;
	
	overflow: hidden;
	
	h1 {
    	float: right;
    	@include border-bottom-left-radius(5px);
        
    }
    
    .num-more {
        background-color: $background;
        color: $foreground;
        float: left;
        text-align: center;
        
        $width: 100px;
        width: $width;
        margin-left: $new-width/2 - $width/2;
    }
    
    .post-container {
        position: relative;
        top: 0px;
    }
}

#all {
    
    background-color: #eee;
    position: absolute;
    top: -290px;
    
    margin-left: -1px;
    
    width: $total-width;
    
    overflow-y: scroll;
    
    /* space for 8 posts on screen at a time, with room for padding. */
    height: $post-height*4 + 40;
    
    .post {
        float: left;
        margin-right: 0px;
        margin-top: 5px;
        
        .dismiss-button {
            display: none;
        }
    }
    
    z-index: -10;
    
    border: 1px solid $background;
}

#footer {
	background-color: $background;
	text-align: center;
	color: $foreground;
	height: $footer-height;
	
	font-size: 0.8em;
}

#identity, #presence {
	padding: 4px;
}

#identity {
	float: left;
	text-align: left;
}

#presence {
	float: right;
	text-align: right;
}

#show-posts {
	position: absolute;
	left: 50%;
	
	$width: 150px;
	width: $width;
	margin-left: -$width/2;
	
	font-size: 1.3em;
	
	background-color: $background-light;
	border: 1px solid $light-text-color;
	
	@include clickable;
}


#add-post-container {
	position: absolute;
	top: -($body-height) - 3;
	left: 50%;
	
	$width: 300px;
	margin-left: -$width/2;
	width: $width;
	
	z-index: 2;
	
	#post {
    	background-color: white;
    	border: 1px solid $background;

        padding: 5px;

    	@include box-shadow(#000, 1px, 1px, 2px, 0);

    	height: $body-height - 10;

    	h1 {
    	    margin-bottom: 5px;
    	    margin-top: 0px;

    	    font-size: $header-height;
        }

    	textarea {
    	    width: $width - 20;
    	    height: 40px;
    	}
    	
    	#submit-post {
    	    float: right;
    	}

    }
}


#toggle-post {
	position: relative;
	top: 0px;
	left: 50%;
	
	height: 20px;
	
	$width: 150px;
	width: $width;
	margin-left: -$width/2;
	
	text-align: center;
	
	background-color: $background-light;
	
	color: $foreground;
	
	@include border-bottom-right-radius(5px);
	@include border-bottom-left-radius(5px);
	
	@include box-shadow(#000, 1px, 1px, 2px, 0);
	
	z-index: 2;
	
	@include clickable;
}




.button {
    margin: 2px;
    text-align: center;
    
    font-weight: bold;
    font-size: 0.8em;
    
    @include box-shadow(none);
    @include border-radius(5px);
    
    padding: 5px;
    
    border: 1px solid #aaa;
    color: #eee;
    
    @include background-image(linear-gradient(#575757, #171717));

    @include clickable;
    
    @include text-shadow(rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px);
}

.button:active {
    @include background-image(linear-gradient(#171717, #575757));
    
    @include text-shadow(rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px);
    
}






#post-text {
	
}

    .post {
    
    width: 489px;
    margin-left: 5px;
    margin-right: 10px;
    
    height: $post-height;
    
    border: 1px solid $background;

    background-color: #fff;
    
    @include border-radius(5px);
    
    .button-container {
        float: left;
/*        height: 100%;*/
        height: $post-height - 11;
        padding: 10px 2px 2px 2px;

        margin-right: 5px;
        
        text-align: center;
        
        border-right: 1px solid #ccc;
        
        background-color: #aaa;
        
        .vote-button {
            @include clickable;
            
            border: 1px solid $background;
            width: 55px;
            height: 33px;
            font-size: 25px;
            
            padding: 3px 0px 0px 0px;
            
            text-aligin: center;
        }
        
        .dismiss-button {
            @include clickable;
            font-size: 12px;
            
            border: 1px solid $background;
        }
    }
    
    .text {
        height: 75px;
        overflow: hidden;
        width: 419px;
    }
    
    .byline, .timestamp {
        color: lighten($text-color, 40%);
        font-style: italic;
        font-size: 12px;
    }
    
    .byline {
        margin-left: 20px;
    }
    
    .timestamp {
        float: right;
        margin-right: 20px;
        
        &:before {
            content: "posted ";
        };
    }
}



.clear {
	clear: both;
}