@import "compass/css3";

/* Define colors */

$background: #161618;
$background-light: #242429;
$foreground: #eee;

$text-color: #161618;
$light-text-color: #aaa;

/* define sizes */
$total-width: 1002px;
$total-height: 150px;

$footer-height: 20px;
$body-height: $total-height - $footer-height;

$header-height: 20px;

$dialog-width: 300px;

$post-height: 95px;

/* define global mixins */

@mixin user-select($select) {
  $select: unquote($select);
  @include experimental(user-select, $select,
    -moz, -webkit, not -o, not -ms, -khtml, official
  );
}

@mixin clickable {
	cursor: pointer;
	@include user-select(none);
}

@mixin post-toolbar-button {
    padding-top: 2px;
    padding-bottom: 2px;
    
    @include clickable;
    
    &:hover {
        background-color: #A5BC83;
    }
    
    &:active {
        background-color: #A6AF98
    }
}


body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    overflow-y: hidden;
    margin: 0px;
}

#bar {
    background-color: #444444;
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
    
    & > div {
        float: left;
    }
}

#chat {
    width: 300px;
    
    #chat-input {
        width: 290px;
    }
    
    margin-left: 310px;
    height: 40px;
    
    
    .chats {
        position: fixed;
        bottom: 51px;
        width: 300px;
        
        .message {
            color: #CCC;
            text-shadow: 1px 1px 0px #111;
            width: 100%;
            float: left;
            
            .name {
                
            }
            
            .affiliation {
                display: none;
            }
        }
    }
}

.posts-list {
    width: 300px;
    
    .container {
        background-color: #444444;
        position: fixed;
        top: 0px;
        height: 100%;
        width: 290px;
        
        padding: 5px;
        
        & textarea {
            width: 285px;
            height: 1em;
            
            margin-bottom: 5px;
        }
        
        & textarea.expanded {
            height: 4em;
        }
        
        h1 {
            color: white;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        
        .posts {
            background-color: #ddd;
            height: 100%;
            width: 100%;
            
            overflow-y: scroll;
        }
    }
}

.post {
    background-color: #DDEFC6;
    margin: 5px;
    
    .contents {
        padding: 5px;
        
        .attribution {
            font-size: 0.8em;
            color: #444;
        }
    }
    
    .footer {
        background-color: #8CC63F;
        
        color: white;
        font-weight: bold;
        
        & > div {
            padding-top: 2px;
            padding-bottom: 2px;
            
            @include post-toolbar-button;
        }
        
        .vote {
            float: left;
            padding-left: 5px;
            padding-right: 5px;
        }

        .flag, .comments {
            float: right;
            padding-right: 5px;
            margin-left: 5px;
        }
        
        img {
            height: 20px;
        }
    }
    
    .flag-options-container {
        border-top: 1px solid white;
        
        background-color: #8CC63F;
        color: white;
        font-weight: bold;
        font-size: 0.9em;
        
        .flag-option {
            @include post-toolbar-button;
            float: left;
            margin-left: 10px;
        }
    }
}

br.clear {
    clear: both;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#login {
    background-color: white;
    
    width: 300px;
    height: 200px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    
    .label {
        text-align: right;
    }
    
    table button.login {
        text-align: right;
    }
}
