@import "compass/css3";

/* Define colors */

$background: #161618;
$background-light: #242429;
$foreground: #eee;

$text-color: #161618;
$light-text-color: #aaa;

/* define sizes */
$total-width: 1002px;
$total-height: 150px;

$footer-height: 20px;
$body-height: $total-height - $footer-height;

$header-height: 20px;

$dialog-width: 300px;

$post-height: 95px;

/* define global mixins */

@mixin user-select($select) {
  $select: unquote($select);
  @include experimental(user-select, $select,
    -moz, -webkit, not -o, not -ms, -khtml, official
  );
}

@mixin clickable {
	cursor: pointer;
	@include user-select(none);
}

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    overflow-y: hidden;
    margin: 0px;
}

#bar {
    background-color: #444444;
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 40px;
    
    z-index: 1000;
    padding-top: 5px;
    padding-bottom: 5px;
}

#chat {
    width: 300px;
    
    #chat-input {
        width: 290px;
    }
    
    margin-left: 10px;
    height: 40px;
}