@import "compass";
@import "compass/css3";


@mixin user-select($select) {
  $select: unquote($select);
  @include experimental(user-select, $select,
    -moz, -webkit, not -o, not -ms, -khtml, official
  );
}

/* Define colors */

$background: black;
$foreground: white;

$text-color: #000;
$light-text-color: #aaa;

/* define sizes */
$total-width: 1002px;
$total-height: 150px;

$footer-height: 20px;
$body-height: $total-height - $footer-height;

$header-height: 20px;

$dialog-width: 300px;

$post-height: 100px;

/* define global mixins */

@mixin clickable {
	cursor: pointer;
}

body {
    font-family: Helvetica, sans-serif;
    
    color: #eee;
    
    @include background-image(linear-gradient(#242429, #161618));
/*    background-repeat: no-repeat;*/
    
/*    background-color: #161618;*/

    margin: 0px;
}

#container {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    
    h1 {
        margin-bottom: 2px;
    }
    
    & > div {
        
        @include box-shadow(#000, 1px, 1px, 2px, 0, inset);
        
        background-color: #eee;
        color: #161618;
        
        padding: 10px;
        
        border: 1px solid black;
        
        @include border-radius(5px,5px);
        
        p {
            margin-top: 0px;
        }
        
        & > p:last-child {
            margin-bottom: 0px;
        }
    }

    .button {
        margin: 10px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        
        text-align: center;
        
        font-weight: bold;
        font-size: 1.2em;
        
        @include box-shadow(none);
        
        border: 1px solid #aaa;
        color: #eee;
        
        @include background-image(linear-gradient(#575757, #171717));
        cursor: pointer;
        
        @include user-select(none);
        
        @include text-shadow(rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px);
    }
    
    .button:active {
        @include background-image(linear-gradient(#171717, #575757));
        
        @include text-shadow(rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px);
        
    }
    
}
